@model ESDataBase.Teacher

<div class="card-deck mb-2">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h5>Автор курса:</h5>
        </div>
        <div class="card-body">
            <div class="media">
                <img class="mr-3 center-cropped rounded" src="http://via.placeholder.com/100x100" alt="Generic placeholder image">
                <div class="media-body">
                    <h5 class="mt-0">@Model.FullName</h5>
                    Студент 3 курса КФУ.
                </div>
            </div>
        </div>
    </div>
</div>
