@model IEnumerable<ESDataBase.Models.Course>

@foreach (var course in Model)
{
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <img class="card-img-top" src="@course.ImageURL" alt="">
            <div class="card-body">
                <h4 class="card-title">
                    @Html.ActionLink(course.Name, "Course", "Courses", new { @id = course.ID }, null)
                </h4>
                <p class="card-text">@course.ShortDescription</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
            </div>
        </div>
    </div>
}